@reference "../../global.css";

.comment-item {
  & .comment-text {
    & a {
      @apply text-[#eb7340] underline underline-offset-3;

      &.username {
        @apply no-underline;
      }
    }

    & img,
    & .url-icon {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.125rem;
      width: 1em;
      height: 1em;
      line-height: 1em;

      @apply text-lg;
    }
  }

  & .comments-replies-sorter {
    & .tab {
      &.tab-active {
        @apply border-base-content/10;
      }
      &:not(:first-child) {
        @apply pl-2;
      }
    }
  }
}
