@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      Proxima Nova,
      system-ui,
      sans-serif;

    .loading-mask {
      display: none;
    }

    &.rendering {
      .layout-header,
      .layout-body {
        display: none;
      }

      .loading-mask {
        display: flex;
      }
    }

    &::-webkit-scrollbar,
    & *::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb,
    & *::-webkit-scrollbar-thumb {
      @apply rounded bg-gray-200;
    }

    &::-webkit-scrollbar-track,
    & *::-webkit-scrollbar-track {
      @apply rounded bg-gray-100;
    }

    &.dark {
      &::-webkit-scrollbar-thumb,
      & *::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track,
      & *::-webkit-scrollbar-track {
        @apply bg-opacity-10;
      }
    }
  }

  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].appearance-none {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

svg {
  @apply h-5 w-5;
}

.btn {
  font-weight: 500;
}

.border-regular-5 {
  @apply border border-base-content border-opacity-5;
}

.border-regular-10 {
  @apply border border-base-content border-opacity-10;
}

.border-regular-20 {
  @apply border border-base-content border-opacity-20;
}

.border-regular-30 {
  @apply border border-base-content border-opacity-30;
}

.border-regular-40 {
  @apply border border-base-content border-opacity-40;
}

.border-regular-50 {
  @apply border border-base-content border-opacity-50;
}
