@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility backdrop-blur-xs {
  backdrop-filter: blur(4px);
}

@utility backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

@utility backdrop-blur-md {
  backdrop-filter: blur(12px);
}

@utility backdrop-blur-lg {
  backdrop-filter: blur(16px);
}

html {
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    @apply bg-base-content/15 rounded-full;
  }

  &::-webkit-scrollbar-track,
  & *::-webkit-scrollbar-track {
    @apply hidden;
  }
}

[data-type='loading'] {
  .sonner-loading-wrapper {
    @apply !static;
  }
}

input[type='number'].appearance-none::-webkit-inner-spin-button,
input[type='number'].appearance-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'].appearance-none {
  appearance: textfield;
  -moz-appearance: textfield;
}

.btn {
  @apply font-normal;
}

/* .lucide {
  @apply stroke-[1.5];
} */

.tabs .tab-active {
  @apply pointer-events-none;
}

.yarl__container,
.yarl__thumbnails_container {
  @apply !bg-black/80 !backdrop-blur-lg;
}

.yarl__thumbnails_vignette,
.yarl__slide_captions_container {
  @apply !bg-transparent !bg-none;
}

.yarl__thumbnails_thumbnail {
  @apply !rounded-none !border-white/50 !bg-transparent;
}
.yarl__thumbnails_thumbnail_active {
  @apply !border-accent !border-[3px];
}

::backdrop {
  @apply hidden;
}
