@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    .loading-mask {
      display: none;
    }

    &.preparing {
      .layout-header,
      .layout-body {
        display: none;
      }

      .loading-mask {
        display: flex;
      }
    }

    &::-webkit-scrollbar,
    & *::-webkit-scrollbar {
      @apply w-1.5;
    }

    &::-webkit-scrollbar-thumb,
    & *::-webkit-scrollbar-thumb {
      @apply rounded-full bg-base-content/15;
    }

    &::-webkit-scrollbar-track,
    & *::-webkit-scrollbar-track {
      @apply hidden;
    }
  }

  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].appearance-none {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.btn {
  @apply font-normal;
}

.lucide {
  @apply stroke-[1.5];
}

.tabs .tab-active {
  @apply pointer-events-none;
}

.yarl__container,
.yarl__thumbnails_container {
  @apply bg-black/80 backdrop-blur-lg #{!important};
}

.yarl__thumbnails_vignette,
.yarl__slide_captions_container {
  @apply bg-transparent bg-none #{!important};
}

.yarl__thumbnails_thumbnail {
  @apply rounded-none border-white/50 bg-transparent #{!important};
}
.yarl__thumbnails_thumbnail_active {
  @apply border-[3px] border-accent #{!important};
}

dialog {
  @apply border-none outline-none;
}

::backdrop,
.modal-backdrop {
  @apply backdrop-blur;

  button {
    @apply cursor-default border-none outline-none;
  }
}
