@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility backdrop-blur-4xs {
  backdrop-filter: blur(1px);
}

@utility backdrop-blur-2xs {
  backdrop-filter: blur(2px);
}

@utility backdrop-blur-xs {
  backdrop-filter: blur(4px);
}

@utility backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

@utility backdrop-blur-md {
  backdrop-filter: blur(12px);
}

@utility backdrop-blur-lg {
  backdrop-filter: blur(16px);
}

@utility scrollbar {
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    @apply block;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility backdrop-blur-pseudo {
  @apply before:bg-base-100/50 before:absolute before:inset-0 before:z-0;
  @apply before:rounded-[inherit] before:backdrop-blur-lg before:content-[""];
}

@utility bg-grid {
  --grid-line-color: color-mix(
    in oklab,
    var(--color-base-content) 2%,
    transparent 98%
  );
  --grid-size: 24px;

  background-image:
    repeating-linear-gradient(
      0deg,
      var(--grid-line-color) 0,
      var(--grid-line-color) 1px,
      transparent 0,
      transparent 50%
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color) 0,
      var(--grid-line-color) 1px,
      transparent 0,
      transparent 50%
    );
  background-size: var(--grid-size) var(--grid-size);
}

:root[data-theme='light'] {
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-black/10;
  }

  &::-webkit-scrollbar-track,
  & *::-webkit-scrollbar-track {
    @apply rounded-full bg-black/3;
  }
}

:root[data-theme='dark'] {
  &::-webkit-scrollbar,
  & *::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-thumb,
  & *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/10;
  }

  &::-webkit-scrollbar-track,
  & *::-webkit-scrollbar-track {
    @apply rounded-full bg-white/3;
  }
}

html {
  & body,
  & .page-container {
    @apply bg-grid;
  }
}

[data-type='loading'] {
  .sonner-loading-wrapper {
    @apply !static;
  }
}

input[type='number'].appearance-none::-webkit-inner-spin-button,
input[type='number'].appearance-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'].appearance-none {
  appearance: textfield;
  -moz-appearance: textfield;
}

.btn {
  @apply font-normal;
}

.tabs .tab-active {
  @apply pointer-events-none;
}

.menu {
  --menu-active-bg: var(--color-primary);
  --menu-active-fg: var(--color-primary-content);
}

.input,
.textarea {
  @apply placeholder-base-content/50;
}

.yarl__container,
.yarl__thumbnails_container {
  @apply !bg-black/80 !backdrop-blur-lg;
}

@media (max-width: 1023px) {
  .yarl__slide_title_container {
    --yarl__slide_title_container_top: -4px;
  }
  .yarl__icon {
    --yarl__icon_size: 24px;
  }
}

.yarl__thumbnails_vignette,
.yarl__slide_captions_container {
  @apply !bg-transparent !bg-none;
}

.yarl__thumbnails_thumbnail {
  @apply !rounded-none !border-white/50 !bg-transparent;
}
.yarl__thumbnails_thumbnail_active {
  @apply !border-accent !border-[3px];
}

.rdp-root {
  --rdp-accent-color: var(--color-primary) !important;
  --rdp-selected-border: 1px solid var(--color-primary) !important;
}
